<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151773463580-na3pdd651rg31b43ue40096d2n4q3071.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151773463580-na3pdd651rg31b43ue40096d2n4q3071</string>
	<key>API_KEY</key>
	<string>AIzaSyDsDKw_JHdJgB1Zf5pouQQJ1lGswH99M84</string>
	<key>GCM_SENDER_ID</key>
	<string>151773463580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecommerce.ecommerceProject</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-b9cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-b9cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151773463580:ios:cd4fef624b10ed6305cbd9</string>
</dict>
</plist>